@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}
<!doctype html>


<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header" style="BACKGROUND-COLOR:#BCC65C">
                <h4 class="title">ADMIN</h4>

            </div>
            <div class="card-content">
                <center>

                    <div class="col-md-4">
                        <img src="~/Content/Images/goal_value.png" style="width:100px;height:100px;" /> <br />
                        <input type="button" class="btn btn-info" value="UPDATE A GOAL"  onclick="@("window.location.href='" + @Url.Action("Index", "GOALACTUALs") + "'");"/>
                    </div>


                    <div class="col-md-4">
                        <img src="~/Content/Images/about_edit.png" style="width:100px;height:100px;" /> <br />
                        <input type="button" class="btn btn-info" value="EDIT ABOUT" onclick="@("window.location.href='" + @Url.Action("Index", "ABOUTs") + "'");" />
                    </div>

                    <div class="col-md-4">
                        <img src="~/Content/Images/add_item.png" style="width:100px;height:100px;" /> <br />
                        <input type="button" class="btn btn-info" value="ADD A NEW ITEM" Onclick="@("window.location.href='" + @Url.Action("Add", "Home") + "'");" />
                    </div>

                    <br /> <br /> <br /> <br /> <br />


                </center>
            </div>
        </div>
    </div>
</div>

