@model CYJ.Models.QUARTEROPTION

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Add A New Period</h2>


@using (Html.BeginForm()) 
{
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      

        <div class="form-group">
            @Html.LabelFor(model => model.quarterOpt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quarterOpt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quarterOpt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    <div class="col-md-3">
        <input type="button" class="btn btn-info" value="Back to List" onclick="@("window.location.href='" + @Url.Action("Index", "quarteroptions") + "'");" />
    </div>
</div>
