@model CYJ.Models.QUARTEROPTION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QUARTEROPTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.subcategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quarterOpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quarterOpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FISCALYEAR.fiscalYearID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FISCALYEAR.fiscalYearID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.quarteroptionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
