@model IEnumerable<CYJ.Models.QUARTEROPTION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Available Period</h2>

<p>
    <div class="col-md-3">
        <input type="button" class="btn btn-info" value="ADD A NEW PERIOD" onclick="@("window.location.href='" + @Url.Action("Create", "Quarteroptions") + "'");" />
    </div>
</p>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.quarterOpt)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quarterOpt)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.quarteroptionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.quarteroptionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.quarteroptionID })
        </td>
    </tr>
}

</table>
<div class="col-md-3">
    <input type="button" class="btn btn-info" value="Back to Admin" onclick="@("window.location.href='" + @Url.Action("Admin", "Home") + "'");" />
</div>