@model IEnumerable<CYJ.Models.QUARTEROPTION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.subcategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quarterOpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FISCALYEAR.fiscalYearID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.subcategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quarterOpt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FISCALYEAR.fiscalYearID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.quarteroptionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.quarteroptionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.quarteroptionID })
        </td>
    </tr>
}

</table>
