@model IEnumerable<CYJ.Models.GOALACTUAL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create a New Goal", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.ActionLink("Filter by Period", "FilterPeriod") |
        @Html.ActionLink("Filter by Workstream", "FilterWorkstream") |
        @Html.ActionLink("Filter by Fiscal Year", "FilterFY")
    </p>
        @*@<p>
                Find by Period: @Html.TextBox("searchString")
                <input type="submit" value="Search" />
            </p>*@
}
  
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.goalValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actualGoal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FISCALYEAR.fy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUARTEROPTION.quarterOpt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBCATEGORY.subcategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEAM.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WORKSTREAM.workstreamName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.WORKSTREAM1.workstreamName)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.goalValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actualGoal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FISCALYEAR.fy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUARTEROPTION.quarterOpt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBCATEGORY.subcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEAM.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WORKSTREAM.workstreamName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.goalActualID }) |
            @Html.ActionLink("Details", "Details", new { id=item.goalActualID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.goalActualID })
        </td>
    </tr>
}

</table>
